doctype html
html
    head
        title Discord Instant Messenger
        link(rel='stylesheet' href='/stylesheets/style.css')
    body

        div#navbar 
            a(href='/') Discord Instant Messenger

            #navlinks
                if user
                    if user.member 
                        h2.glitchable.status Member
                    h2.glitchable= user.username
                    a(href='/sign-out') Sign Out
                    a(href='/membership') Membership


                else 
                    h2.glitchable Sign in to post! 
                    a(href='/sign-in') Sign In
                    a(href='/sign-up') Sign Up

                a(href='/') Home

        #main
            block content

        script(src='javascripts/script.js')
