extends layout

block content

    .sign-in.membership

        h1 Member Application

        #code-box
            - var codes = [0, 1, 2, 3, 4, 5, 6, 7, 8]
            - var digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            each code in codes
                .code-input-box
                    button.scroll-btn.scroll-up up 
                    button.scroll-btn.scroll-down down
                    .scrolling
                        each digit, index in digits 
                            .digit(class=`number${index}`)= digit




        img.solehint(src='images/solehint.png')

    script(src='javascripts/game.js')
