extends layout

block content

    .sign-in

        h1 Let's sign in!
        form.account-form(action="" method="POST")
            label(for='username') Username 
            input(name="username" type="text" placeholder='cBarkley' value=`${user ? user.username : ''}` required)

            label.pass(for='password') Password 
                .eye
                    img.hidden(src='images/eye.svg')
            input.password(name="password" type="password" placeholder='shutUpAndJam' required)

            button(type='submit') Sign In
            if message 
                .account-error= message 
            else 

                .account-error You got this!
