:root {
    --discord-messages: #36393f;
    --discord-server-icons: #202225;
    --discord-users-channels: #2f3136;
    --discord-user-info: #292b2f;
    --discord-message-box: #4f545c;
    --discord-icon: #b6b6b6;
    --discord-blue: #738ADB;
    --discord-green: #3ba55d;

    --messagebox-height: 400px;
}

@media only screen and (max-width: 1000px) {
    #user-list-header>#user-list-header-icons {
        display: none;
    }

    #user-list-header {
        padding-bottom: 17px !important;
    }

    #messages-container>.message-box>img:not(.plus-icon) {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #user-info>#user-info-icons {
        display: none;
    }
}

@font-face {
    font-family: unisans;
    src: url('../fonts/Uni\ Sans\ Regular.otf.otf');
}

@font-face {
    font-family: unisans-light;
    src: url('../fonts/Uni\ Sans\ Book.otf');
}

@font-face {
    font-family: rakugaki;
    src: url('../fonts/Rakugaki.ttf');
}

body {
    margin: 0;
    color: white;
    background-color: var(--discord-messages);
    font-family: unisans, sans-serif;
    font-weight: lighter;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    background-color: var(--discord-server-icons);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

#navbar h2 {
    margin: 0;
    font-size: 1rem;
}

#navbar>#navlinks {
    display: flex;
    gap: 8px;
}

#main {
    background-color: var(--discord-background);
    flex-grow: 1;
}

#homebox {
    background-color: red;
    height: 100%;
    width: 100%;

    display: flex;
}

#server-icons {
    background-color: var(--discord-server-icons);

    display: flex;
    flex-direction: column;

    padding: 10px 15px;
    gap: 10px;
}

.server-icon {
    background-color: var(--discord-messages);

    width: 5rem;
    height: 5rem;

    border-radius: 100%;
    transition: all 0.2s;
    cursor: pointer;

    position: relative;
}

.server-icon:hover {
    border-radius: 30%;
}

.server-icon.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;

    height: 100%;
    width: 15%;
    border-radius: 0 80% 80% 0;
    background-color: white;
}

.server-icon.notification::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);

    height: 13%;
    width: 15%;
    border-radius: 0 80% 80% 0;
    background-color: white;
    transition: all 0.2s;
}

.server-icon.notification:hover::after {
    height: 50%;
}

.server-icon-image {
    position: absolute;
    top: 0;
    left: 0;


    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: all 0.2s;
}

.server-icon-image:hover {
    border-radius: 30%;
}

.server-icon-image.discord-icon  {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(97%) contrast(94%);
}

.server-icon-image.mia  {
    background-size: 100%;
}

.server-option:hover {
    background-color: #3ba55d;
}

.server-option:hover>.server-icon-image {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(202deg) brightness(104%) contrast(100%);
}

.server-option>.server-icon-image {
    filter: invert(71%) sepia(9%) saturate(3641%) hue-rotate(84deg) brightness(78%) contrast(65%);
    background-size: 50%;
}

.discord-icon-box:hover {
    background-color: #738ADB;
}

.discord-icon-box:hover>.discord-icon {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(202deg) brightness(104%) contrast(100%);
}

.server-bar {
    background-color: var(--discord-messages);
    height: 3px;
    width: 60%;

    border-radius: 2px;
    align-self: center;
}

#server-content {
    background-color: var(--discord-server-icons);
    flex-grow: 1;

    display: flex;
}

#channel-list {
    background-color: var(--discord-users-channels);

    display: flex;
    flex-direction: column;

    border-radius: 10px 0% 0% 0%;
    width: 25%;
    min-width: min(25%, 300px);
    max-width: 300px;
}

#channels-header {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;

    position: relative;
}

#channels-header>img {
    position: absolute;

    top: 50%;
    right: 0;

    transform: translate(-0%, -50%);

    height: 1.5rem;
    width: 1.5rem;
    padding-right: 20px;
}

#text-channels, #voice-channels {
    padding: 10px;
    color: rgb(128, 128, 128);
}

.channel-header {
    padding-left: 5px;
    position: relative;

    cursor: pointer;
}

.channel-header:hover {
    color: white;
}

.channel-header>img {
    height: 0.7rem;
    width: 0.7rem;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-70%, -50%);
}

.voice-channel, .text-channel {
    display: flex;
    align-items: center;
    gap: 0px;

    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.voice-channel:hover, .text-channel:hover {
    background-color: var(--discord-message-box);
    color: white;
}

.channel.selected {
    background-color: rgb(94, 94, 94);
    color: white;
}

.voice-channel>img, .text-channel>img {
    filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(95%) contrast(86%);
}

.text-channel>img {
    height: 1.5rem;
    width: 1.5rem;

    padding: 3px;
}

#user-info {
    background-color: var(--discord-user-info);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 10px;
}

#user-info-data {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;

    padding: 5px;
    border-radius: 5px;

    cursor: pointer;
}

#user-info-data:hover {
    background-color: var(--discord-message-box);
}

#user-info-data:hover .user-online-circle {
    border: 5px solid var(--discord-message-box);
}

#user-data {
}

#user-info-icons {
    display: flex;
    gap: 10px;
}

#user-info-icons>img {
    border-radius: 5px;
    padding: 5px;
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(97%) contrast(94%);
    cursor: pointer;
    height: 2rem;
}

#user-info-icons>img:hover {
    background-color: var(--discord-message-box);
}

#messages-container {
    background-color: var(--discord-messages);
    flex-grow: 1;

    display: flex;
    flex-direction: column-reverse;

    position: relative;
}

.messages-header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--discord-messages);
    width: 100%;

    display: none;
    justify-content: space-between;
    position: relative;
}

.messages-header.visible {
    display: flex;
}

.messages-header-icons {
    position: absolute;

    top: 0;
    right: 0;

    height: 100%;

    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;

}

.messages {
    background-color: var(--discord-messages);

    flex-grow: 1;
    height: 0px;
    overflow-y: scroll;


    display: none;
    flex-direction: column;
    padding-bottom: 20px;
}

.messages.visible {
    display: flex;
}

/* width */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: var(--discord-message-box);
    border-radius: 10px;

    margin: 5px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--discord-server-icons);
    border-radius: 10px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 26, 26);
}

.message {
    display: flex;
    gap: 15px;

    margin: 15px 0px;
    padding: 0px 20px;

    background-color: rgba(255, 0, 0, 0);
}

.message:hover {
    background-color: var(--discord-users-channels);
}

.message>.user-pic {
    height: 40px;
    width: 40px;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    margin-top: 5px;
}

.message-text {
    font-family: unisans-light, sans-serif;
}

.message-username {
    position: relative;
}

.message .message-date {
    color: white;

    position: absolute;
    bottom: 0;
    right: -10px;

    transform: translate(100%, 0%);
    font-family: unisans-light, sans-serif;
    font-size: 0.7rem;

    white-space: nowrap;
}

.message-box {
    padding: 0px 15px;
    margin: 0px 20px 20px 20px;
    box-sizing: border-box;

    background-color: var(--discord-message-box);
    border-radius: 7px;

    display: none;
    align-items: center;
    gap: 15px;
}

.message-box.visible {
    display: flex;
}

.message-box>.placeholder {
    padding: 15px 0px;
    flex-grow: 1;
}

.message-box>form {
    flex-grow: 1;
    height: 100%;
}

.message-box>form>input {
    -webkit-appearance: none;
    outline: none;
    box-sizing: border-box;

    padding: 15px 0px;

    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;

    overflow: auto;
}

.message-box>form>input::placeholder {
    color: rgb(175, 175, 175);
}

/* #user-list {
    background-color: var(--discord-users-channels);

    width: 25%;
    min-width: min(25%, 300px);
    max-width: 300px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
} */

#user-list-container {
    width: 25%;
    min-width: min(25%, 300px);
    max-width: 300px;

    display: flex;
    flex-direction: column-reverse;

    background-color: red;
    position: relative;
}

#user-list {
    width: 100%;
    background-color: var(--discord-users-channels);

    flex-grow: 1;
    height: 0px;
    overflow-y: scroll;

    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}

#user-list::-webkit-scrollbar-track {
    margin-top: 70px;
}

.user-list-category {
    margin-left: 15px;
    margin-top: 30px;
}

.user-list-user {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px;

    cursor: pointer;
}

.user-list-user:hover {
    background-color: var(--discord-message-box);
}

.user-pic {
    background-color: var(--discord-server-icons);
    border-radius: 100%;
    padding: 5px;

    position: relative;
}

.user-list-username {
    width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic-dingbat {
    font-family: rakugaki;
    font-size: 2.5rem;
}

.user-online-circle {
    position: absolute;
    bottom: -5px;
    right: -5px;

    height: 30%;
    width: 30%;
    border-radius: 100%;

    background-color: #3ba55d;
    border: 5px solid var(--discord-users-channels);
}

.user-online-circle.mia-circle {
    background-color: hotpink;
}

.user-list-user:hover .user-online-circle {
    border: 5px solid var(--discord-message-box);
}

#user-list-header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: var(--discord-messages);

    width: 100%;
    padding: 13px 10px 14px 0px;

    display: flex;
    gap: 10px;
}

#user-list-header>#searchbar {
    flex-grow: 1;
    position: relative;
}

#user-list-header>#searchbar>img {
    content: url('../images/search.svg');
    position: absolute;
    top: 50%;
    right: 10px;

    transform: translate(0%, -50%);

    height: 1rem;
}

#user-list-header>#searchbar>input {
    box-sizing: border-box;

    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    border-radius: 5px;
    background-color: var(--discord-server-icons);
    color: white;
    font-family: unisans, sans-serif;
    font-size: 1rem;

    padding: 2px 30px 0px 6px;
}

#user-list-header>#searchbar>input:focus+img {
    content: url('../images/x.svg');
}

#user-list-header>#searchbar>input::placeholder {
    font-family: unisans, sans-serif;
    color: rgb(153, 153, 153);
}

#user-list-header-icons {
    display: flex;
    gap: 10px;
}

.header {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35);

    font-size: 1.5rem;
    padding: 15px 20px;
}

.icon {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(97%) contrast(94%);
    cursor: pointer;
    height: 2rem;
}

.icon:hover {
    filter: invert(97%) sepia(98%) saturate(1%) hue-rotate(56deg) brightness(103%) contrast(100%);
}

.sign-in {
    box-sizing: border-box;
    height: 100%;
    padding-top: 40px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.account-form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;

    justify-content: start;
    align-items: center;
    
}

.account-form input {
    box-sizing: border-box;

    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    border-radius: 5px;
    background-color: var(--discord-server-icons);
    color: white;
    font-family: unisans, sans-serif;
    font-size: 1rem;

    padding: 10px 30px 10px 14px;
    transition: all 0.2s;

    position: relative;
}

.account-form input:hover {
    background-color: var(--discord-user-info);
}

.account-form input:focus {
    background-color: var(--discord-blue);
    color: black;
}

.account-form input:focus::placeholder {
    color: rgb(88, 88, 88);
}

.account-form input::placeholder {
    color: rgb(175, 175, 175);
}

.account-form button {
    grid-column: span 2;
    justify-self: center;

    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 10px;

    background-color: var(--discord-green);
    border: none;
    border-radius: 10px;

    transition: all 0.5s, width 0.2s;
    cursor: pointer;

    width: 50%;
}

.account-form button:hover {
    background-color: #185f2e;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.account-form .account-error {
    grid-column: span 2;
    justify-self: center;
}

.sign-up .sign-in-padder {
    height: 5px;
    margin: 10px 0px;
    background-color: var(--discord-blue);
    border-radius: 10px;

    grid-column: span 2;
}

.account-form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    position: relative;
}

.account-form label img {
    filter: invert(100%) sepia(24%) saturate(2%) hue-rotate(106deg) brightness(113%) contrast(101%);
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.18, 0.5, 0.32, 2);

}

.account-form label img.hidden {
    transform: scaleY(0.1);
}

.account-form label img.stuckhidden {
    transform: scaleY(0.1);

    background-color: red;
}

.eye {
    background-color: var(--discord-server-icons);
    border-radius: 100%;

    height: 1.2rem;
    width: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.2s;
}

.eye:hover {
    background-color: var(--discord-message-box);
}