:root {
    --discord-messages: #36393f;
    --discord-server-icons: #202225;
    --discord-users-channels: #2f3136;
    --discord-user-info: #292b2f;
    --discord-message-box: #4f545c;
    --discord-icon: #b6b6b6;

    --messagebox-height: 400px;
}

@media only screen and (max-width: 1000px) {
    #user-list-header>#user-list-header-icons {
        display: none;
    }

    #user-list-header {
        padding-bottom: 17px !important;
    }

    #messages-container>#message-box>img:not(.plus-icon) {
        display: none;
    }
}

@font-face {
    font-family: unisans;
    src: url('../fonts/Uni\ Sans\ Regular.otf.otf');
}

@font-face {
    font-family: unisans-light;
    src: url('../fonts/Uni\ Sans\ Book.otf');
}

@font-face {
    font-family: rakugaki;
    src: url('../fonts/Rakugaki.ttf');
}

body {
    margin: 0;
    color: white;
    background-color: var(--discord-messages);
    font-family: unisans, sans-serif;
    font-weight: lighter;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    background-color: var(--discord-server-icons);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

#navbar h2 {
    margin: 0;
    font-size: 1rem;
}

#navbar>#navlinks {
    display: flex;
    gap: 8px;
}

#main {
    background-color: var(--discord-background);
    flex-grow: 1;
}

#homebox {
    background-color: red;
    height: 100%;
    width: 100%;

    display: flex;
}

#server-icons {
    background-color: var(--discord-server-icons);

    display: flex;
    flex-direction: column;

    padding: 10px;
    gap: 10px;
}

.server-icon {
    background-color: var(--discord-messages);

    width: 5rem;
    height: 5rem;

    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
}

.server-icon:hover {
    border-radius: 30%;
}

.server-bar {
    background-color: var(--discord-messages);
    height: 3px;
    width: 60%;

    border-radius: 2px;
    align-self: center;
}

#server-content {
    background-color: var(--discord-server-icons);
    flex-grow: 1;

    display: flex;
}

#channel-list {
    background-color: var(--discord-users-channels);

    display: flex;
    flex-direction: column;

    border-radius: 10px 0% 0% 0%;
    width: 25%;
    min-width: min(25%, 250px);
    max-width: 250px;
}

#channels-header {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;

    position: relative;
}

#channels-header>img {
    position: absolute;

    top: 50%;
    right: 0;

    transform: translate(-0%, -50%);

    height: 1.5rem;
    width: 1.5rem;
    padding-right: 20px;
}

#text-channels, #voice-channels {
    padding: 10px;
    color: rgb(128, 128, 128);
}

.channel-header {
    padding-left: 5px;
    position: relative;

    cursor: pointer;
}

.channel-header:hover {
    color: white;
}

.channel-header>img {
    height: 0.7rem;
    width: 0.7rem;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-70%, -50%);
}

.voice-channel, .text-channel {
    display: flex;
    align-items: center;
    gap: 0px;

    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.voice-channel:hover, .text-channel:hover {
    background-color: var(--discord-message-box);
    color: white;
}

.text-channel.selected {
    background-color: rgb(94, 94, 94);
    color: white;
}

.voice-channel>img, .text-channel>img {
    filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(95%) contrast(86%);
}

.text-channel>img {
    height: 1.5rem;
    width: 1.5rem;

    padding: 3px;
}

#user-info {
    background-color: var(--discord-user-info);
}

#messages-container {
    background-color: var(--discord-messages);
    flex-grow: 1;

    display: flex;
    flex-direction: column-reverse;

    position: relative;
}

#messages-header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--discord-messages);
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
}

#messages-header-icons {
    position: absolute;

    top: 0;
    right: 0;

    height: 100%;

    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;

}

#messages {
    background-color: var(--discord-messages);

    flex-grow: 1;
    height: 0px;
    overflow-y: scroll;


    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

/* width */
#messages::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#messages::-webkit-scrollbar-track {
    background: var(--discord-message-box);
    border-radius: 10px;

    margin: 5px;
}

/* Handle */
#messages::-webkit-scrollbar-thumb {
    background: var(--discord-server-icons);
    border-radius: 10px;
}

/* Handle on hover */
#messages::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 26, 26);
}

.message {
    display: flex;
    gap: 15px;

    margin: 20px;

    background-color: rgba(255, 0, 0, 0);
}

.message>.user-pic {
    height: 40px;
    width: 40px;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    margin-top: 5px;
}

.message-text {
    font-family: unisans-light, sans-serif;
}

.message-username {
    position: relative;
}

.message .message-date {
    color: white;

    position: absolute;
    bottom: 0;
    right: -10px;

    transform: translate(100%, 0%);
    font-family: unisans-light, sans-serif;
    font-size: 0.7rem;
}

#message-box {
    padding: 0px 15px;
    margin: 0px 20px 20px 20px;
    box-sizing: border-box;

    background-color: var(--discord-message-box);
    border-radius: 7px;

    display: flex;
    align-items: center;
    gap: 15px;
}

#message-box>.placeholder {
    padding: 15px 0px;
    flex-grow: 1;
}

#message-box>form {
    flex-grow: 1;
    height: 100%;
}

#message-box>form>input {
    -webkit-appearance: none;
    outline: none;
    box-sizing: border-box;

    padding: 15px 0px;

    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;

    overflow: auto;
}

#message-box>form>input::placeholder {
    color: rgb(175, 175, 175);
}

#user-list {
    background-color: var(--discord-users-channels);

    width: 25%;
    min-width: min(25%, 250px);
    max-width: 250px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}

.user-list-category {
    margin-left: 15px;
    margin-top: 30px;
}

.user-list-user {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px;

    cursor: pointer;
}

.user-list-user:hover {
    background-color: var(--discord-message-box);
}

.user-pic {
    background-color: var(--discord-server-icons);
    border-radius: 100%;
    padding: 5px;

    position: relative;
}

.user-list-username {
    width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic-dingbat {
    font-family: rakugaki;
    font-size: 2.5rem;
}

.user-online-circle {
    position: absolute;
    bottom: -5px;
    right: -5px;

    height: 30%;
    width: 30%;
    border-radius: 100%;

    background-color: #3ba55d;
    border: 5px solid var(--discord-users-channels);
}

.user-online-circle.mia-circle {
    background-color: hotpink;
}

.user-list-user:hover .user-online-circle {
    border: 5px solid var(--discord-message-box);
}

#user-list-header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: var(--discord-messages);

    width: 100%;
    padding: 13px 10px 14px 0px;

    display: flex;
    gap: 10px;
}

#user-list-header>#searchbar {
    flex-grow: 1;
    position: relative;
}

#user-list-header>#searchbar>img {
    content: url('../images/search.svg');
    position: absolute;
    top: 50%;
    right: 10px;

    transform: translate(0%, -50%);

    height: 1rem;
}

#user-list-header>#searchbar>input {
    box-sizing: border-box;

    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    border-radius: 5px;
    background-color: var(--discord-server-icons);
    color: white;
    font-family: unisans, sans-serif;
    font-size: 1rem;

    padding: 2px 30px 0px 6px;
}

#user-list-header>#searchbar>input:focus+img {
    content: url('../images/x.svg');
}

#user-list-header>#searchbar>input::placeholder {
    font-family: unisans, sans-serif;
    color: rgb(153, 153, 153);
}

#user-list-header-icons {
    display: flex;
    gap: 10px;
}

.header {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35);

    font-size: 1.5rem;
    padding: 15px 20px;
}

.icon {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(97%) contrast(94%);
    cursor: pointer;
    height: 2rem;
}

.icon:hover {
    filter: invert(97%) sepia(98%) saturate(1%) hue-rotate(56deg) brightness(103%) contrast(100%);
}